:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.loading {
  opacity: 0.5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  all: unset;
  background-color: gray;
  padding: 0.5rem 1rem;
  border-radius: 0.15rem;
}
button:hover {
  cursor: pointer;
}

.ui__wrapper {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  & > * {
    padding: 1rem;
    border-radius: 1rem;
    border: 0.15rem solid #00000020;
  }
}
